USE [master]
GO
/****** Object:  Database [OtelDB]    Script Date: 7.05.2026 14:05:23 ******/
CREATE DATABASE [OtelDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OtelDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OtelDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ),
( NAME = N'otel2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\otel2.ndf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OtelDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OtelDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OtelDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OtelDB]
GO
/****** Object:  Table [dbo].[Odalar]    Script Date: 7.05.2026 14:05:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odalar](
	[OdaTipi] [nvarchar](50) NOT NULL,
	[ToplamAdet] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OdaTipi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OtelKullanicilari]    Script Date: 7.05.2026 14:05:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OtelKullanicilari](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[Eposta] [nvarchar](100) NULL,
	[Telefon] [nvarchar](20) NULL,
	[KullaniciAdi] [nvarchar](50) NULL,
	[Sifre] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rezervasyonlar]    Script Date: 7.05.2026 14:05:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rezervasyonlar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAd] [nvarchar](50) NULL,
	[OdaTipi] [nvarchar](50) NULL,
	[GirisTarihi] [date] NULL,
	[CikisTarihi] [date] NULL,
	[OdaAdedi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Odalar] ([OdaTipi], [ToplamAdet]) VALUES (N'Aile', 7)
INSERT [dbo].[Odalar] ([OdaTipi], [ToplamAdet]) VALUES (N'Kral', 10)
INSERT [dbo].[Odalar] ([OdaTipi], [ToplamAdet]) VALUES (N'Standart', 20)
GO
SET IDENTITY_INSERT [dbo].[OtelKullanicilari] ON 

INSERT [dbo].[OtelKullanicilari] ([KullaniciID], [Ad], [Soyad], [Eposta], [Telefon], [KullaniciAdi], [Sifre]) VALUES (1, N'', N'', N'', N'', N'', N'')
INSERT [dbo].[OtelKullanicilari] ([KullaniciID], [Ad], [Soyad], [Eposta], [Telefon], [KullaniciAdi], [Sifre]) VALUES (2, N'Ali', N'Yıldırım', N'aliyildirim06@gmail.com', N'5425654380', N'aliyildirim', N'asd6.')
INSERT [dbo].[OtelKullanicilari] ([KullaniciID], [Ad], [Soyad], [Eposta], [Telefon], [KullaniciAdi], [Sifre]) VALUES (3, N'Betül', N'Demirok', N'betuldemirokk@gmail.com', N'5510125613', N'betul_demirok', N'Betul123*')
SET IDENTITY_INSERT [dbo].[OtelKullanicilari] OFF
GO
SET IDENTITY_INSERT [dbo].[Rezervasyonlar] ON 

INSERT [dbo].[Rezervasyonlar] ([Id], [KullaniciAd], [OdaTipi], [GirisTarihi], [CikisTarihi], [OdaAdedi]) VALUES (1, N'Betül', N'Standart', CAST(N'2026-04-30' AS Date), CAST(N'2026-04-30' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Rezervasyonlar] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__OtelKull__5BAE6A7528FEC8C1]    Script Date: 7.05.2026 14:05:23 ******/
ALTER TABLE [dbo].[OtelKullanicilari] ADD UNIQUE NONCLUSTERED 
(
	[KullaniciAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
